[ndbd default]
NoOfReplicas=2
DataMemory=50M
IndexMemory=25M
[ndb_mgmd]
NodeId=1
hostname=172.16.60.11
datadir=/var/lib/mysql
[ndbd]
NodeId=2
hostname=172.16.60.12
datadir=/var/lib/mysql
[ndbd]
NodeId=3
hostname=172.16.60.13
datadir=/var/lib/mysql
[mysqld]
NodeId=4
hostname=172.16.60.14
[mysqld]
NodeId=5
hostname=172.16.60.15